.profile {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 36.25px 0 47.25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 0;
}

@media all and (max-width: 750px) {
    .profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 38.25px 19px 0;
    }
}