.popup__close-button {
    position: absolute;
    background-image: url(../../../images/close-button.svg);
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    background-size:contain;
    top: -40px;
    right: -40px;
}

@media all and (max-width:600px) {
    .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    }
}

.popup__close-button:hover {
    opacity: 0.6;
}